    <h1><%= @car_category.name%></h1>
    <span><%= number_to_currency @car_category.daily_rate%></span>
    <span><%= number_to_currency @car_category.car_insurance%></span>
    <span><%= number_to_currency @car_category.third_party_insurance%></span>

    <%= link_to 'Apagar', car_category_path(@car_category), method: :delete, data:{confirm: 'Deseja realmente deletar?'} %>
    <%= link_to 'Editar', edit_car_category_path %>
    <a href="<%= car_categories_path %>">Voltar</a>
