<h1>Locação</h1>
<h2>Dados do agendamento</h2>  
<%= render @rental%>


<% if @rental.car_rental %>
  <h2>Locação iniciada</h2>
  Carro Escolhido: <%= @rental.car_rental.car.description%>
  Usuário: <%= @rental.car_rental.user.email%>
  CNH: <%= @rental.car_rental.driver_license_number%>
  Início da locação: <%= l @rental.car_rental.start_date%>
<% else %>
  <%= link_to 'Iniciar locação', new_rental_car_rental_path(@rental.id) %>
<% end %>