<h1>Retirada de Carro</h1>
<%= render @rental%>
<h2>Preencha os campos abaixo para confirmar o início da locação</h2>

<%= form_with model: [@rental, @car_rental], local: true do |f|%>
  <%= f.label :car_id, 'Carros disponíveis'%>  
  <%= f.collection_select :car_id, @available_cars, :id, :description%>
  <%= f.label :driver_license_number, 'CNH do Condutor'%>  
  <%= f.text_field :driver_license_number%>
  <%= f.submit 'Iniciar'%>
<% end %>