<p><%= @car_model.name%></p>
<p><%= @car_model.year%></p>
<p><%= @car_model.manufacturer%></p>
<p><%= @car_model.motorization%></p>
<p><%= @car_model.fuel_type%></p>
<p><%= @car_model.car_category.name%></p>


<%= link_to 'Voltar', car_models_path %>
<%= link_to 'Editar', edit_car_model_path %>
<%= link_to 'Apagar', car_model_path(@car_model), method: :delete, data:{confirm: 'Deseja realmente deletar?'} %>